html{
    background-color: khaki;
}

.cajas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
}

img{
    border: 3px solid black;
    width: 500px;
    height: 500px;

}

#container {
    background-color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
}

.menu {
    text-align: center;
    background-color: orange;
    font-size: medium;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}



a:link {
    color: blue;
}

a:hover {
    color: red;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: orange;
}
